*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{

    background:#f4f7fb;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;
}

.container{

    width:850px;

    text-align:center;
}

h1{

    font-size:40px;

    color:#222;

    margin-bottom:10px;
}

.subtitle{

    color:#666;

    margin-bottom:35px;

    font-size:18px;
}

.card{

    background:white;

    border-radius:18px;

    padding:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);

    animation:fadeIn 1s;
}

textarea{

    width:100%;

    height:220px;

    border:none;

    outline:none;

    resize:none;

    font-size:18px;

    padding:20px;

    background:#fafafa;

    border-radius:12px;

    margin-bottom:25px;

    transition:.3s;
}

textarea:focus{

    background:white;

    box-shadow:0 0 10px rgba(0,123,255,.3);
}

button{

    background:#ff6b00;

    color:white;

    border:none;

    padding:15px 40px;

    font-size:18px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    transform:translateY(-3px);

    background:#ff5200;
}

.result{

    margin-top:30px;

    background:white;

    padding:20px;

    border-radius:12px;

    font-size:24px;

    font-weight:600;

    color:#0b57d0;

    box-shadow:0 5px 20px rgba(0,0,0,.1);

    animation:fadeIn 1s;
}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}